{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
    Signup
{% endblock page_title %}

{% block content %}
    <div class="col-md-6">
        <div class="register-box">
            <h4 class="heading__tertiary mb--30">ثبت نام</h4>
            <form class="form form--login" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form__group">
                    <input type="submit" value="Sign Up" class="btn btn-submit btn-style-1">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}